

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .heropage{
        width: 100%;
        margin: 0 0;
        /* background-color: red; */
    }  
    .heropage img{
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .heropage img{
        width: 100%;
        margin: 0 auto;
        /* background-color: red; */
    }  
    .heropage img{
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .heropage img{
        width: 100%;
        margin: 0 auto;
        /* background-color: red; */
    }  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .heropage img{
        width: 100%;
        margin: 0 auto;
        /* background-color: red; */
    }  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .heropage{
        /* width: 1366px; */
        width: 100%;
        margin: 0 auto;
        /* background-color: red; */
    }  

}